@import 'https://fonts.googleapis.com/css?family=Fira+Sans:700|Roboto';
.container-fluid {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	color: #ffffff;
	padding-top: 70px;
	padding-bottom: 70px;
	background-size: cover;
	background-image: url("images/Background.jpg");
	background-repeat: no-repeat;
	background-position: center center;
}
.row {
	padding-top: 20px;
	padding-bottom: 20px;
}
.title {
	background-image: url("images/Top.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	height: 400px;
	color: #ED1846;
	font-family: "Fira Sans", sans-serif;
}
.title img {
  display: inline-block;
  height: 120px;
  vertical-align: top;
  width: 120px;
}
.nav a:link, .nav a:visited {
    color: #3d8f3d;
	background-color: #ffffff;
	border: 1px solid #b0bfc7;
	border-radius: 290486px;
	padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	width: 100%;
}
.nav a:hover {
    color: #ffffff;
	background-color: #3d8f3d;
	border: 1px solid #b0bfc7;
	border-radius: 290486px;
	padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	width: 100%;
}
.side, .reasons {
	background-color: #cccccc;
	color: #330000;
	border: 5px solid #ffffff;
}
.main {
	background-color: #004d00;
	border: 5px solid #996633;
}
.foot{
	background-color: #000000;
	border-top: 5px solid #666666;
	border-bottom: 5px solid #666666;
}
a:link, a:visited {
    color: #ED1846;
}